,main{
    margin: 0;
}
.header {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    place-items: center;
}

.nav-item-content {
    color: whitesmoke;

}