@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}