<main class="main">
  <div class="content">
    <!-- <h1
      class="text-3xl font-bold text-green-200 bg-green-950 text-center"
    >
      number of images {{ images.length }}
    </h1> -->
    <div class="search-box">
      <button (click)="toggleSearch()" class="toggle-button">
        <mat-icon class="mat-icon">
          {{ searchDisabled ? "search" : "clear" }}
        </mat-icon>
      </button>
      <form
        *ngIf="!searchDisabled"
        class="search-form"
        (ngSubmit)="handleSearch()"
        #searchForm="ngForm"
      >
        <select [(ngModel)]="searchType" name="searchType" class="search-type">
          <option value="id">By Id</option>
          <option value="author">By Author</option>
        </select>
        <input
          type="text"
          placeholder="Search term"
          name="searchInput"
          [(ngModel)]="searchTerm"
          class="search-term"
          required
          minlength="1"
          #searchInput="ngModel"
        />
        <button
          class="search-button"
          type="submit"
          [disabled]="
            searchForm.invalid ||
            (searchType === 'id' && !validateId(searchInput.value))
          "
        >
          <mat-icon class="mat-icon">search</mat-icon>
        </button>

        <div
          *ngIf="
            (searchType === 'id' &&
              searchInput.value &&
              !validateId(searchInput.value)) ||
            (noImageFound && !ackedError)
          "
          class="search-tooltip"
        >
          <span
            *ngIf="
              searchType === 'id' &&
              searchInput.value &&
              !validateId(searchInput.value)
            "
            class="search-value-tooltip"
          >
            ID must be between 0 and 1084.
          </span>
          <span *ngIf="noImageFound && !ackedError" class="acked-box">
            <span class="search-value-tooltip">
              Ops! can't find image with this id!
            </span>
            <button (click)="handleAckError()" class="acked-button">
              <mat-icon class="mat-icon-acko">clear</mat-icon>
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class="image-container">
      <ng-container *ngFor="let image of images">
        <app-img-container
          [id]="image.id"
          [author]="image.author"
          [description]="image.description"
          [download_url]="image.download_url"
          [height]="image.height"
          [width]="image.width"
        ></app-img-container>
      </ng-container>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
