.search-box {
  display: flex;
  justify-content: start;
  align-items: center;
  backdrop-filter: blur(10px);
  padding: 1rem;
  background-color: white;
}

.toggle-button {
  width: 3rem;
  height: 2rem;
  background-color: #8ddaa4;
  /* Change the background color for the toggle button */
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-icon {
  font-size: 1.5rem;
  color: white;
}

.search-form {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.search-term::placeholder {
  color: antiquewhite
}

.search-button {
  width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #98d5a5;
  /* Change the background color for the search button */
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.search-type,
.search-term {
  background-color: #529177;
  /* Change the background color for the input fields */
  color: white;
  height: 2rem;
  padding-left: 0.5rem;
  flex: 1;
}

.search-type {
  max-width: 80px;
}

.search-term {
  max-width: 150px;
  border: none;
}

.search-tooltip {
  /* position: absolute;
  width: fit-content;
  height: 2rem;
  color: red; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  /* border: 1px solid #ccc; */
  padding: 1rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
  /* Ensure it's above other content */
}

.search-value-tooltip {
  color: white;
  background-color: red;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.search-info-tooltip {
  color: white;
  padding: 0.5rem;
}

.acked-box {
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

.acked-button {
  color: whitesmoke;
  background-color: #98d5a5;
}

.mat-icon-acko {
  font-size: 1.0rem;
  color: red;
}



.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 2rem;
}




/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .search-box {
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }

  .toggle-button,
  .search-button {
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
  }

  .search-type,
  .search-term {
    max-width: none;
    width: 100%;
    margin-top: 1rem;
  }

  .search-tooltip {
    width: 100%;
    top: 100%;
  }
}