<div class="flex flex-col justify-center bg-slate-100 dark:bg-slate-900">
  <div class="group h-72 w-72 perspective-1000px">
    <div
      class="relative h-full w-full rounded-xl shadow-xl transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
    >
      <div class="absolute inset-0">
        <img
          class="h-full w-full object-cover shadow-xl shadow-black/40"
          [src]="download_url"
          alt="Image"
        />
      </div>
      <div
        class="absolute inset-0 h-full w-full bg-black/80 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]"
      >
        <div class="flex min-h-full flex-col items-center justify-center">
          <h1 class="font-bold">
            <span class="font-normal">Author:</span> {{ author }}
          </h1>
          <p *ngIf="expirationDate">description: {{ description }}</p>
          <div *ngIf="expirationDate">
            <p>Expiration Date: {{ expirationDate | date : "medium" }}</p>
          </div>

          <div
            class="absolute bottom-4 right-6 dark:text-white dark:hover:text-themedOrange"
          >
            <button (click)="handleFavorite()">
              <mat-icon>{{
                isFavorite ? "favorite" : "favorite_border"
              }}</mat-icon>
            </button>
          </div>
          <div class="dark:text-white">
            <button (click)="handleClick()">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
