<div class="container">
  <div class="card">
    <div class="card-inner">
      <div class="front">
        <div class="image-container">
          <img class="image" src="{{ download_url }}" alt="Image" />
        </div>
      </div>
      <div class="back">
        <div class="details-container">
          <div class="info">
            <h1 class="font-bold">
              <span class="font-normal">Author:</span> {{ author }}
            </h1>
            <p>Id: {{ id }}</p>
            <p>{{ description }}</p>
            <div *ngIf="expirationDate">
              <p>Expiration Date: {{ expirationDate | date : "medium" }}</p>
            </div>
          </div>

          <div class="actions">
            <button class="open-button" (click)="handleClick()">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button class="favorite-button" (click)="handleFavorite()">
              <mat-icon>{{
                isFavorite ? "favorite" : "favorite_border"
              }}</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
