.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 18rem;
    background-color: rgb(241 245 249);
}

.card {
    position: relative;
    height: 18rem;
    width: 18rem;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.5s cubic-bezier(.4, 0, .2, 1);
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    /* backface-visibility: hidden; */
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
    /* backface-visibility: hidden; */
}

.image-container {
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
    /* rounded-xl */
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: filter 0.5s ease;
    /* transition-all */
}

.card:hover .image {
    filter: brightness(0.6);
    /* darken the image */
}

.details-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(135, 199, 166, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.info {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.favorite-button,
.open-button {
    width: auto;
    background: none;
}

.favorite-button:hover,
.open-button:hover {
    background-color: rgba(46, 107, 76, 0.8);
}

.favorite-button {
    text-align: right;
}

.open-button {
    text-align: left;
}