<main class="main">
  <div class="content">
    <p class="heading">
      You have
      <span class="favorite-count">{{ favorites.length }}</span>
      Favorites
    </p>
    <div class="image-container">
      <ng-container *ngFor="let favorite of favorites">
        <app-img-container
          [id]="favorite.id"
          [author]="favorite.author"
          [description]="favorite.description"
          [download_url]="favorite.download_url"
          [height]="favorite.height"
          [width]="favorite.width"
          [expirationDate]="favorite.expirationDate"
        ></app-img-container>
      </ng-container>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
